<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Blockly Snake</title>

        <script src="/scripts/blockly/blockly_compressed.js"></script>
        <script src="/scripts/blockly/blocks_compressed.js"></script>
        <script src="/scripts/blockly/msg/en.js"></script>
        <script src="/scripts/blockly/javascript_compressed.js"></script>
        <script src="/blocks/json.js"></script>
        <script src="/blocks/console_log.js"></script>
        <script src="/blocks/snake.js"></script>
        
        
    </head>
    <body style="margin:0;">
    <input type="text" placeholder="Snake name..." id="snakeName">
    <button id="saveName">Save name</button>
    <div id="result">Waiting for snake name</div>
    <button id="copyBlockly">Copy XML</button>
    <button id="pasteBlockly">Paste XML</button>
    <div id="blocklyDiv" style="height: 80vh; width:98vw;"></div>
    <input type="text" placeholder="Author" id="snakeAuthor">
    <input type="text" placeholder="Color" id="snakeColor">
    <input type="text" placeholder="Snake head" id="snakeHead">
    <input type="text" placeholder="Snake tail" id="snakeTail">
    <pre id="textarea"></pre>
    {% include "partials/toolbox.html" %}
    <script src="/scripts/socket.io/client-dist/socket.io.js"></script>
    <script>
        var socket = io();

        // window.addEventListener('load', (event) => {
        //     const snakeName = document.getElementById("snakeName").value;
        //     document.getElementById("result").textContent = `Set snake name "${snakeName}"`;
        //     socket.emit("setName", snakeName);
        // });

        socket.on("receiveMove", (gameState, callback) => {
            console.log("Move received");
            var code = Blockly.JavaScript.workspaceToCode(demoWorkspace);
            const move = eval(code);
            //console.log({gameState, callback, move})
            console.log(move);
            callback(move);
            //(new Function("generated", code))();
        });

        socket.on("requestInfo", (callback) => {
            console.log("Info request received");
            const snakeAuthor = document.getElementById("snakeAuthor").value;
            const snakeColor = document.getElementById("snakeColor").value;
            const snakeHead = document.getElementById("snakeHead").value;
            const snakeTail = document.getElementById("snakeTail").value;
            const snakeInfo = 
                    {
                    "apiversion": "1",
                    "author": (snakeAuthor !== null) ? snakeAuthor : "default",
                    "color": (snakeColor !== null) ? snakeColor : "default",
                    "head": (snakeHead !== null) ? snakeHead : "default",
                    "tail": (snakeTail !== null) ? snakeTail : "default",
                    "version" : "blockly"
                    }
            console.log(snakeInfo);
            callback(snakeInfo);
        });

        var demoWorkspace = Blockly.inject('blocklyDiv',
            {media: 'https://unpkg.com/blockly/media/',
             toolbox: document.getElementById('toolbox')});

        load();

        function myUpdateFunction(event) {
            var code = Blockly.JavaScript.workspaceToCode(demoWorkspace);
            var dom = Blockly.Xml.workspaceToDom(demoWorkspace);
            save(dom);
            document.getElementById('textarea').innerHTML = code;
        }
        demoWorkspace.addChangeListener(myUpdateFunction);

        function save(dom){
            let text = Blockly.Xml.domToText(dom)
            console.log(text);
            localStorage.setItem("state", text);
        }

        function load(){
            let loadedState = localStorage.getItem("state");
            if (loadedState !== null) {
                let xml = Blockly.Xml.textToDom(loadedState);
                Blockly.Xml.appendDomToWorkspace(xml, demoWorkspace);
            }
            
        }
        
        document.getElementById("saveName").addEventListener('click', (event) => {
            const snakeName = document.getElementById("snakeName").value;
            document.getElementById("result").textContent = `Set snake name "${snakeName}"`;
            socket.emit("setName", snakeName);
        });
        // document.getElementById("snakeName").addEventListener('change', (event) => {
        // document.getElementById("result").textContent = `Set snake name "${event.target.value}"`;
        //     socket.emit("setName", event.target.value);
        // });

        document.getElementById("copyBlockly").addEventListener("click", function() {
            const xml = Blockly.Xml.workspaceToDom(demoWorkspace);
            navigator.clipboard.writeText(Blockly.Xml.domToText(xml));
        });

        document.getElementById("pasteBlockly").addEventListener("click", function() {
            navigator.clipboard.readText().then(text => {
                if (text !== null){
                    let xml = Blockly.Xml.textToDom(text);
                    Blockly.Xml.appendDomToWorkspace(xml, demoWorkspace);
                }
            }).catch(err => {
                console.log(err);
            });
        }); 

        
    </script>
    </body>
    
</html>
